<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/Icon.png"
      type="image/x-icon"
    />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <div id="app">
    <header>
      <!-- NAV -->
      <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container-fluid">
          <a
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto w-md-50 justify-content-center justify-content-sm-start"
            href="#"
            ><img
              class="w-50"
              src="./assets/img/Logo_Amazing_Events.png"
              alt="Brand logo"
          /></a>
          
          <ul class="nav nav-pills justify-content-center gap-2 w-100 justify-content-md-end">
            <li class="nav-item text-center" v-for="(pagina, i) in paginas">
              <a
                class="nav-link btn-fucsia rounded text-bg-dark"
                aria-current="page"
                @click="index = i"
                href="#"
                >{{pagina}}</a
              >
            </li>
          </ul>
      </nav>

      <div
        class="carousel carousel-dark slide bg-fucsia text-bg-dark text-center"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 class="fs-2">{{paginaSeleccionada}}</h1>
        </div>
        </div>
        <button @click="restar" class="carousel-control-prev">
          <i class="bi bi-chevron-compact-left fs-2"></i>
        </button>
        <button @click="sumar" class="carousel-control-next">
          <i class="bi bi-chevron-compact-right fs-2"></i>
        </button>
        {{filterEvents}}
      </div>
    </header>
    
    <main class="container-fluid bg-fucsia bg-gradient">
      <div class="d-flex flex-wrap flex-sm-nowrap flex-column flex-sm-row px-2 pt-2 align-items-center">
      <div
      class="d-flex flex-row flex-wrap gap-2 w-100"
      id="checkboxGroup"
      >
      <label class="form-check-label" v-for="categoria of categorias">
        <input
          class="form-check-input"
          type="checkbox"
          :value="categoria"
          :id="categoria"
          v-model="categoriasSeleccionadas"
        />
        {{categoria}}
      </label>
    </div>
      {{filtroDoble}}
      <div class="d-flex flex-sm-shrink-1">
          <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
          id="search"
          v-model="texto"
          />
        </div>
      </div>


      <p v-if="!eventos.length" class="display-3 fw-bolder text-center">No hay coincidencias!</p>
      <div
      id="eventsBody"
      class="row row-cols-sm-2 row-cols-md-3 row-cols-1 row-cols-lg-4 row-cols-xl-5 p-2 mt-1 g-3"
      >
      <div class="col" v-for="event of eventos">
        <div class="card text-bg-dark">
          <img
            class="card-img-top"
            :src="event.image"
            :alt="event.name"
          />
          <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">
              {{event.description}}
            </p>
          </div>
          <div
            class="card-footer d-flex justify-content-between align-items-center"
          >
            <p class="pt-3">Precio: ${{event.price}}</p>
            <a :href="`./details.html?id=${event._id}`" class="btn btn-fucsia">ver mas...</a>
          </div>
        </div>
      </div>
      <!-- Se agregan las tarjetas dinamicamente-->
      </div>
    </main>
    
    <footer class="container-fluid bg-dark py-2">
      <div class="row w-100 ms-1 gap-2">
        <div
        class="col col-1 text-center square rounded-circle border border-0 btn-fucsia justify-content-center d-flex pt-1"
        >
          <a class="text-reset" href="#">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        <div
          class="col col-1 text-center square rounded-circle border border-0 btn-fucsia justify-content-center d-flex pt-1"
        >
          <a class="text-reset" href="#">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
        <div
          class="col col-1 text-center square rounded-circle border border-0 btn-fucsia justify-content-center d-flex pt-1"
        >
          <a class="text-reset" href="#">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
        <div class="col offset-md-4 text-end align-middle">
          <h6 class="text-bg-dark mt-1">Cohort FE13-TN</h6>
        </div>
      </div>
    </footer>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
